@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
}


body {
    --sb-track-color: #669999;
    --sb-thumb-color: #232e33;
    --sb-size: 10px;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

.home_container {
    width: 100%;
    padding-top: 20px;
}

.home_Top_header {
    position: relative;
    width: 100%;
    background-color: #669999;
    padding: 20px 60px 80px 60px;
    border-radius: 20px;
}

.home_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_nav_links {
    display: flex;
    gap: 50px;
}

.home_nav_links p a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.home_nav_links p a span {
    font-size: 18px;
    font-weight: 600;
}

.home_nav_links p a span:hover {
    text-decoration: underline;
}

.group .i1 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.group .i2 {
    position: absolute;
    right: 30%;
    bottom: 20%;
    opacity: 0.5;
}

.group .i3 {
    position: absolute;
    left: 16%;
    bottom: 0;
}

.home_top_headermin {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.home_top_left {
    width: 538px;
}

.home_top_left h1 {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
}

.home_top_left p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22.59px;
    color: #fff;
    margin-top: 15px;
}

.home_top_right img {
    width: 538px;
    border-radius: 30px;
}

.home_top_left_btn {
    margin-top: 15%;
}

.home_top_left_btn button {
    width: 100%;
    max-width: 320px;
    height: 60px;
    color: #fff;
    background-color:#A63737;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.icon_container {
    display: inline-block;
    cursor: pointer;
}

.icon_container i {
    font-size: 35px;
    color: #fff;
}

.home_nav_links2 {
    position: fixed;
    top: 0;
    right: -800px;
    width: 400px;
    height: 109vh;
    z-index: 10;
    color: #000;
    background: #669999;
    padding: 20px 15px;
}

.qora {
    display: none;
    width: 100%;
    height: 109vh;
    position: fixed; 
    top: 0; 
    right: 0; 
    background: #000000cc; 
    z-index: 10;
}

#close1 {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}

#close1:hover {
    transform: rotate(90deg);
}

.nav_linksIn {
    margin-top: 5%;
}

.nav_linksIn p a {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    transition: 0.5s;
}

.nav_linksIn p a:hover {
    color: #A63737;
}

.icon_container {
    display: none;
}

.home_mid_header {
    padding: 35px 40px;
}

.home_header_mid_center {
    display: flex;
    justify-content: center;
}

.home_mid_header h1 {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2%;
}

.home_header_mid_card {
    width: 874px;
    background: #FFEFD0;
    padding: 20px 60px 20px 60px;
    border-radius: 30px;
}

.home_header_mid_card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.home_header_mid_card ul {
    margin-left: 2rem;
}

.home_header_mid_card ul li {
    font-size: 18px;
    font-weight: 400;
}

.mid_header_h1 p a {
    font-weight: 600;
    font-size: 18px;
    color: #000;
}

.mid_header_h1 p a:hover {
    text-decoration: underline;
}

.mid_header_h1 p span {
    font-weight: 700;
}

.home_end_header {
    margin-top: 5%;
}

.home_end_header_h1 h1 {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.home_end_two {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 60px;
    margin-top: 2%;
}

.home_end_left {
    z-index: 10;
}

.home_end_left img {
    width: 800px;
}


.home_end_right_card {
    position: absolute;
    top: 30%;
    right: 4%;
    width: 100%;
    max-width: 480px;
    background: #669999;
    color: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    z-index: 10;
}

#grp4 {
    position: absolute;
    bottom: 5%;
    left: 0;
}

.home_top_main {
    padding: 20px 60px;
}

.home_end_right img {
    position: absolute;
    top: 0;
    right: 0;
}

.home_top_main_two {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.home_top_main h1 {
    margin-top: 4%;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

.home_top_main_left_cards {
    display: flex;
    margin-bottom: 0.5rem;
}

.home_top_main_left_cards p {
    font-weight: 400;
    font-size: 18px;
    color: #2A2A2A;
}

.home_top_main_left_cards p span {
    font-weight: 600;
    font-size: 18px;
}

.cycle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #74928A;
    margin-right: 1rem;
}

.home_top_main_right {
    margin-left: 0.5rem;
}

.home_top_main_right img {
    width: 550px;
}

.home_mid_main {
    margin-top: 5%;
    padding: 0 60px;
}

.home_mid_main h1 {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.home_mid_main_two {
    display: flex;
    align-items: start;
}

.home_mid_main_p01 {
    width: 600px;
    margin-top: 3%;
    margin-bottom: 1.5rem;
}

.home_mid_main_left p {
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.home_mid_main_right img {
    margin-top: -10%;
    width: 750px;
}

.home_mid_main_left_texts h3 {
    margin-bottom: 1rem;
}

.blue_cycle_card {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.home_mid_main_p02 {
    display: none;
}












/* media section */

@media (max-width:1100px) {
    .home_mid_main_two {
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: start;
    }

    .home_mid_main_p01 {
        display: none;
    }

    .home_mid_main_right img {
        margin-top: 5%;
        width: 100%;
    }

    .home_mid_main_left {
        margin-top: 3%;
    }

    .home_mid_main_p02 {
        display: flex;
    }

    .home_top_main_left {
        margin-top: 3%;
    }

    .home_top_main_two {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        margin-top: 2%;
    }

    .home_top_main_right img {
        width: 100%;
        margin: auto;
    }

    .home_top_main_right {
        margin: auto;
        margin-bottom: 2%;
    }

    .home_top_left h1 {
        font-size: 50px;
        font-weight: 700;
        color: #fff;
    }

    .home_Top_header {
        position: relative;
        width: 100%;
        background-color: #669999;
        padding: 20px 45px 60px 45px;
        border-radius: 20px;
    }

    .home_top_left p {
        font-size: 17px;
        font-weight: 400;
        line-height: 22.59px;
        color: #fff;
        margin-top: 15px;
    }

    .home_top_right img {
        width: 500px;
        border-radius: 30px;
        margin-left: 1rem;
    }
}

@media (max-width:1000px) {
    .home_end_right_card {
        position: absolute;
        top: 30%;
        right: 4%;
        width: 100%;
        max-width: 480px;
        background: #669999;
        color: #fff;
        border-radius: 20px;
        padding: 30px 20px;
        z-index: 10;
    }
    .home_end_left img {
        width: 100%;
    }

    .home_end_two {
        position: relative;
        display: flex;
        align-items: center;
        padding: 20px 25px;
        margin-top: 2%;
    }

    .home_end_right_card {
        position: absolute;
        top: 30%;
        right: 2%;
        width: 100%;
        max-width: 400px;
        background: #669999;
        color: #fff;
        border-radius: 20px;
        font-size: 14px;
        padding: 20px 15px;
        z-index: 10;
    }

    .icon_container {
        display: flex;
    }

    .home_nav_links {
        display: none;
    }

    .home_top_headermin {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap-reverse;
        margin-top: 5%;
    }

    .home_top_left_btn {
        margin-top: 5%;
    }

    .home_top_left {
        width: 100%;
        margin-top: 4%;
    }

    .home_top_left p {
        font-size: 18px;
        font-weight: 400;
        line-height: 22.59px;
        color: #fff;
        margin-top: 15px;
    }

    .home_top_right img {
        width: 100%;
        border-radius: 30px;
    }
}

@media (max-width:750px) {
    .home_mid_main {
        margin-top: 5%;
        padding: 0 25px;
    }

    .home_top_right img {
        margin-left: auto;
    }

    .home_Top_header {
        position: relative;
        width: 100%;
        background-color: #669999;
        padding: 20px 20px 60px 20px;
        border-radius: 20px;
    }

    .home_top_main {
        padding: 20px 25px;
    }

    .home_top_main h1 {
        margin-top: 4%;
        text-align: center;
        font-size: 29px;
        font-weight: 700;
    }

    .home_top_main_left_cards {
        display: flex;
        margin-bottom: 1rem;
    }

    .home_top_main_left_cards p {
        font-weight: 400;
        font-size: 16px;
        color: #2A2A2A;
    }
}

@media (max-width:600px) {
    .home_end_right_card {
        position: absolute;
        top: 0;
        right: 2%;
        width: 100%;
        max-width: 350px;
        background: #669999;
        color: #fff;
        border-radius: 20px;
        font-size: 13px;
        padding: 15px 15px;
        z-index: 10;
    }

    #grp4 {
        width: 100%;
        position: absolute;
        bottom: 5%;
        left: 0;
    }

    .home_end_right img {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .home_end_header_h1 h1 {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
    }

    .home_header_mid_card ul li {
        font-size: 16px;
        font-weight: 400;
    }

    .group .i1 {
        display: none;
    }

    .group .i2 {
        position: absolute;
        right: 20%;
        bottom: 5%;
        opacity: 0.5;
    }

    .home_top_left p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.59px;
        color: #fff;
        margin-top: 15px;
    }

    .home_top_left h1 {
        font-size: 43px;
        font-weight: 700;
        color: #fff;
    }

    .home_top_left p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22.59px;
        color: #fff;
        margin-top: 8px;
    }

    .home_Top_header {
        position: relative;
        width: 100%;
        background-color: #669999;
        padding: 20px 20px 40px 20px;
        border-radius: 20px;
    }

    .group .i3 {
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0;
    }

    .home_mid_header {
        padding: 35px 20px;
    }

    .home_header_mid_card {
        width: 874px;
        background: #FFEFD0;
        padding: 20px 20px 20px 25px;
        border-radius: 30px;
    }

    .home_mid_header h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2%;
    }

    .mid_header_h1 {
        margin-bottom: 4%;
    }
}

@media (max-width:420px) {
    .home_mid_main {
        margin-top: 5%;
        padding: 0 20px;
    }

    .home_top_main h1 {
        margin-top: 4%;
        text-align: center;
        font-size: 21px;
        font-weight: 700;
    }
    
    .home_top_main_left_cards p span {
        font-weight: 600;
        font-size: 14px;
    }

    .home_top_main_left_cards p {
        font-weight: 400;
        font-size: 14px;
        color: #2A2A2A;
    }

    .home_top_main {
        padding: 20px 20px;
    }

    .home_end_two {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 20px 15px;
        margin-top: 2%;
    }

    .home_end_right_card {
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        max-width: none;
        background: #669999;
        color: #fff;
        border-radius: 20px;
        font-size: 14px;
        padding: 15px 15px;
        z-index: 10;
        margin-top: 5%;
    }

    .home_header_mid_card ul li {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .home_mid_header h1 {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2%;
    }

    .mid_header_h1 p a {
        font-weight: 600;
        font-size: 16px;
        color: #000;
    }

    .home_top_left h1 {
        font-size: 35px;
        font-weight: 700;
        color: #fff;
    }

    .home_top_left p {
        font-size: 15px;
        font-weight: 400;
        line-height: 22.59px;
        color: #fff;
        margin-top: 10px;
    }

    .home_top_left_btn button {
        width: 100%;
        max-width: none;
        height: 60px;
        color: #fff;
        background-color: #A63737;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
    }

    .logo img {
        width: 150px;
    }

    .icon_container i {
        font-size: 30px;
        color: #fff;
    }

    .home_nav_links2 {
        position: fixed;
        top: 0px;
        right: 0px;
        transition: all 0.5s ease 0s;
        width: 100%;
    }
}